Repository C2Devel/terraform-provider-rockitcloud, pull requests merged in 2025-02, with the labels that each got.

#67 Automate release
  .github/workflows/rockitcloud_public_release.yml
  .github/workflows/rockitcloud_unit_tests.yml
  docs/c2/README.md
Labels: check-doc, check-code

#75 migrate paas to 4 0 env
  internal/service/paas/service_test.go
  internal/service/paas/services/elasticsearch.go
  internal/service/paas/services/mongodb.go
  internal/service/paas/services/mysql.go
  internal/service/paas/services/pgsql.go
  internal/service/paas/services/rabbitmq.go
  internal/service/paas/services/redis.go
  website/docs/d/paas_service.md
  website/docs/r/paas_service.md
Labels: need description, check-doc, check-code

#74 Add K2 Brand Support Info
  website/docs/index.md
Labels: check-doc

#56 provider: ignore `cloud:` system tag key prefix as well as `aws:`
  internal/service/ec2/ec2_instance.go
  internal/tags/key_value_tags.go
  internal/tags/key_value_tags_test.go
  internal/verify/validate.go
  internal/verify/validate_test.go
  website/docs/r/instance.md
Labels: check-doc, check-code
