Repository C2Devel/terraform-provider-rockitcloud, pull requests merged in 2025-05, with the labels that each got.

#93 Modules: change aws-sdk version
  go.mod
  go.sum
Labels: check-code

#77 paas: add available environment versions and environment version
  internal/service/paas/service.go
  internal/service/paas/service_data_source.go
  internal/service/paas/service_test.go
  website/docs/d/paas_service.md
  website/docs/r/paas_service.md
Labels: check-doc, check-code

#88 website: add endpoints info to index page
  website/docs/index.md
Labels: documentation, check-doc

#91 use ru-msk region
  website/docs/d/ebs_snapshot_ids.md
  website/docs/d/ebs_volumes.md
  website/docs/d/ec2_transit_gateway_route_tables.md
  website/docs/d/eips.md
  website/docs/d/iam_users.md
  website/docs/d/instances.md
  website/docs/d/network_acls.md
  website/docs/d/network_interfaces.md
  website/docs/d/paas_backup.md
  website/docs/d/paas_backup_users.md
  website/docs/d/paas_backups.md
  website/docs/d/route_tables.md
  website/docs/d/security_groups.md
  website/docs/d/vpcs.md
  website/docs/index.md
Labels: check-doc
